.category-link {
    transition: text-decoration 0.2s;
}

.category-link:hover {
    text-decoration: underline;
}

.category-link:hover {
    background-color: #343a40;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

.category-link i {
    min-width: 24px;
    text-align: center;
}

@media (max-width: 576px) {
    .card {
        width: 100% !important;
    }
}