.category-bar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.category-bar {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    flex-grow: 1;
    scroll-padding-left: 40px;
    scroll-padding-right: 40px;
}


.category-bar::-webkit-scrollbar {
    display: none;
}

.category-bar .nav-item {
    flex: 0 0 auto;
}

.category-bar .nav-link {
    white-space: nowrap;
    color: white;
}

.scroll-btn {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    z-index: 10;
    transition: opacity 0.2s ease;
}

.scroll-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.scroll-btn.left {
    left: 5px;
}

.scroll-btn.right {
    right: 5px;
}

.nav-link {
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
    color: #0d6efd;       /* Bootstrap primary blue */
    text-decoration: underline;
}
